* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/QCCpjgRN/vincent-chan-04-Kmj0pru5-M-unsplash.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.form-box {
  width: 380px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: #caebf6;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px black
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px rgb(241, 151, 151);
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #2858e7, #dd555e);
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #2858e7, #dd555e);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 30px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.error {
  color: red;
}

/* style div eyes passwd */
.btn_passwd {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  margin-left: 90%;
  margin-top: -10%;
  margin-bottom: 5%;
}

#log_passwd{
  margin-top: 20px;
}

#log_passwd_error {
  display: flex;
  top: 49%;
}

#log_username_error {
  display: flex;
  top: 21%;
}

#reg_username_error {
  display: flex;
  top: 8%;
  height: 10px;
}

#reg_username {
  margin-top: -5%;
  height: 10px;
}

#reg_email_error{
  display: flex;
  top: 26%;
  height: 10px;
}

#reg_passwd1_error{
  display: flex;
  top: 44%;
  height: 10px;
}

#reg_passwd2_error{
  display: flex;
  top: 62%;
  height: 10px;
}

#reg_email, #reg_passwd1, #reg_passwd2{
  margin-top: 5%;
}

#register_condition_error{
  display: flex;
  top: 79%;
  left: 7%;
  height: 10px;
}

#span_condition {
  top: 73.6%
}